mixin service(id, title, alt, info, url)
	li.serviciosLi
		.serviciosService: h2=title
		.serviciosIcon: img(src=url,alt=alt loading="lazy")
		//- info
		.serviciosInfo
			p=info 
			.serviciosImg
				img(src=url, alt="")

mixin serviceSecondary(id, title, alt, info, url)
	li.serviciosLi.secondary
		.serviciosService: h2=title
		.serviciosIcon: img(src=url, alt=alt loading="lazy")
		//- info
		.serviciosInfo
			p=info 
			.serviciosImg
				img(src=url, alt="")
