	body#body
		//- mixins
		include pug/_services
		//- pug variables
		//- links
		- 
			whatsappLink = "https://api.whatsapp.com/send?phone=529984034867&text=Hola%2C%20me%20gustar%C3%ADa%20tener%20m%C3%A1s%20informaci%C3%B3n."
			facebookLink = "https://www.facebook.com/Sal%C3%B3n-Rizo-Canc%C3%BAn-436441746515339"
			instagramLink = "https://www.instagram.com/salonrizocancun/"
			mapLink = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.3675131930645!2d-86.85313818523478!3d21.137767785939342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b979576d535%3A0x84e5ae6be2399083!2sAv.%20la%20Luna%20%26%20Calle%20Ek%20Balam%2C%20504%2C%2077533%20Canc%C3%BAn%2C%20Q.R.!5e0!3m2!1ses-419!2smx!4v1616392291900!5m2!1ses-419!2smx"
			mapGoogleLink ="https://www.google.com/maps/place/Av.+la+Luna+%26+Calle+Ek+Balam,+504,+77533+Canc%C3%BAn,+Q.R./@21.137768,-86.85095,15z/data=!4m2!3m1!1s0x8f4c2b979576d535:0x84e5ae6be2399083?hl=es-419&gl=MX"
		//- loader
		//- loader
		//-	up arrow
		a#upArrow(href="#principal")
			img(src="../assets/img/svgArrowPrincipal.svg", alt="")
		//-	up arrow
		//- principal
		#logo
			img(src="../assets/img/logo.png", alt="") 
		.menu 
			#menuIcon
				.menuLine
				.menuLine
				.menuLine
			a(href=whatsappLink target="blank_" aria-label="whatsapp icon") 
				img(src="../assets/img/svgWhatsapp.svg", alt="whatsapp icon")
			a(href=facebookLink target="blank_" aria-label="facebook icon") 
				img(src="../assets/img/svgFacebook.svg", alt="facebook icon")
			a(href=instagramLink target="blank_" aria-label="instragram icon") 
				img(src="../assets/img/svgInstagram.svg" alt="instragram icon")
			.menuArrow
				a(href="#servicios")
					img(src="../assets/img/svgArrowPrincipal.svg", alt="arrow to bottom")
			ul#menuDisplay
				li: a.menuDisplayLink(href="#servicios") SERVICIOS
				li: a.menuDisplayLink(href="#galeria") GALERÍA
				li: a.menuDisplayLink(href="#ubicacion") UBICACIÓN
				ul
					li: a(href=whatsappLink target="blank_") 
						img(src="../assets/img/svgWhatsapp.svg", alt="whatsapp icon")
					li: a(href=facebookLink target="blank_")
						img(src="../assets/img/svgFacebook.svg", alt="facebook icon")
					li: a(href=instagramLink target="blank_") 
						img(src="../assets/img/svgFacebook.svg", alt="facebook icon")
		#principal.principal
			ul 
				li.slide
				li.slide 
				li.slide
			.principalText
				p #[span +] de 30 años
				p de #[span experiencia]
		//- principal
		//- servicios
		.section#servicios
			.sectionTitle.serviciosTitle
				h3 Servicios
			.serviciosContainer
				ul#serviciosList
					+service("botox",
						"Bótox capilar",
						"Bótox capilar",
						"Es un tipo de tratamiento intensivo que hidrata y le da brillo al cabello, dejándolo más bonito, un poco más liso, sin frizz. Este producto ayuda a nutrir el cabello con proteínas y vitaminas haciendo que se hidrate y sea menos quebradizo",
						"../assets/img/serviciosBotox.jpg")
					+service("cirugia",
						"Cirugía capilar",
						"Cirugía capilar",
						"En el tratamiento de la cirugía capilar  nos aplican sobre el cabello una serie de ácidos grasos que se extraen de la nuez moscada y que hidratan el cabello en profundidad.",
						"../assets/img/serviciosCirugia.jpg")
					+service("keratina",
						"Keratina",
						"Keratina",
						"La keratina es una proteína que genera nuestro cuerpo. Sin embargo, al producir muy poca cantidad y tener una estructura muy resistente el cabello necesita más cantidad que podrás aportarle a través de los tratamientos de keratina, que ayudarán a reparar y nutrir tu cabello de raíz a las puntas.",
						"../assets/img/serviciosKeratina.jpg")
					+service("nanoplastia",
						"Nanoplastia",
						"Nanoplastia",
						"Reconstruye el cabello, quita el escrespamiento, hidrata y alisa de forma natural por un período de tiempo prolongado , y es progresivo pues, pasado el tiempo, el pelo volverá a su estado original de una forma progresiva y natural.",
						"../assets/img/serviciosNanoplastia.jpg")
					+service("alaciado",
						"Alaciado japonés",
						"Alaciado japonés",
						"El alisado japonés, alisado Yuko o alaciado japonés es un tratamiento de belleza capilar que consiste en estirar el cabello a través del uso de productos capilares, en conjunto con un abundante nivel de calor para cambiar la estructura capilar.",
						"../assets/img/serviciosAlaciadojapones.jpg")
				.btnSpace: b#serviciosBtn.btn Más servicios
		//- servicios
		//- galeria
		.section#galeria
			.sectionTitle.galeriaTitle
				h3 Galería
			#galeriaContainer
			#galeriaModal
				#galeriaModalClose
					img(src="../assets/img/svgClose.svg", alt="close icon")
				#galeriaModalContent
					#galeriaModalLoader
				#galeriaModalControl
					#galeriaArrowCL
						img(src="../assets/img/svgMleftArrow.svg", alt="arrow icon")
					.galeriaCount
						span#galeriaActualImg
						span#galeriaTotalImg
					#galeriaArrowCR
						img(src="../assets/img/svgMrightArrow.svg", alt="arrow icon")
			.btnSpace: b#galeriaButton.btn Ver más
		//- galeria
		//- ubicacion
		.section#ubicacion 
			.sectionTitle.ubicacionTitle
				h3 Ubicación 
			.ubicacionContainer 
				h4 Av. La luna esq Ek Balam
				iframe(src=mapLink title="Salon Rizo's ubication, google maps" allowfullscreen="true" loading="lazy")
			.btnSpace: a.btn(href=mapGoogleLink) Abrir en Google Maps
		//- ubicacion
		//- footer
		.section#footer 
			.footerSocialMedia
				a(href=whatsappLink target="blank_" aria-label="whatsapp")
					img(src="../assets/img/svgWhatsapp.svg", alt="whatsapp icon")
				a(href=facebookLink target="blank_" aria-label="facebook")
					img(src="../assets/img/svgFacebook.svg", alt="facebook icon")
				a(href=instagramLink target="blank_" aria-label="instagram")
					img(src="../assets/img/svgInstagram.svg", alt="instagram icon")
			a(href="tel:+529981723215"): h4 99-81-72-32-15	
		//- footer
